<a href="https://colab.research.google.com/github/skdding3/Code-Practice/blob/main/Review/Lv1_%EB%B3%B5%EC%8A%B5_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-11-06 01:37:22--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-11-06 01:37:22--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 172.217.193.101, 172.217.193.100, 172.217.193.138, ...
Connecting to drive.google.com (drive.google.com)|172.217.193.101|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/detelglpsjecr2b7c3fb4tp8bms06hi9/1636162575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-11-06 01:37:23--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/detelglpsjecr2b7c3fb4tp8bms06hi9/1636162575000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 172.217.204.132, 2607:f8b0:400c:c15::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|172.217.204.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2021-11-06 01:37:23 (97.8 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 라이브러리 불러오기
---

In [13]:
# Pandas 와 Scikit-learn 라이브러리를 불러오세요
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeRegressor

## 데이터 불러오기
---

In [4]:
# train.csv 와 test.csv 를 DataFrame 클래스로 불러오세요

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## 데이터 정보 관찰하기
---

In [5]:
# head() 를 사용해 데이터 정보를 관찰하세요
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

## 데이터 행열 갯수 관찰
---

In [6]:
# shape 를 사용해 데이터 크기를 관찰하세요
train.shape

(1459, 11)

## 결측치 확인
---

In [8]:
# info() 를 사용해 결측치가 있는지 확인하세요.
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

## 결측치 전처리
---

In [9]:
# dropna() 를 사용해 train 데이터는 결측치를 제거하고
# fillna() 를 사용해 test 데이터 결측치는 0 으로 대체하세요.
# 그리고 결측치의 갯수를 출력하여 확안하세요.
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

## 모델 훈련
---

In [14]:
# train 데이터의 count 피쳐를 뺀 것을 X_train 으로 할당하세요.
# train 데이터의 count 피쳐만을 가진 것을 Y_train 으로 할당하세요.
# 회귀의사결정나무를 선언하고 fit() 으로 훈련시키세요.

X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

## 테스트 파일 예측
---

In [16]:
# predict() 을 이용해 test data 를 훈련한 모델로 예측한 data array 를 생성하세요.

predict = model.predict(test)

predict

array([117., 143.,  88.,  49.,  92., 129.,   5., 300.,  15., 165., 252.,
       214., 113.,  36., 214., 229.,  29., 199., 380., 133., 300., 106.,
        20., 138., 155., 119.,  46., 127., 129., 229.,  30.,  30., 137.,
        92., 278.,  49., 229., 109., 287.,   6., 137., 127., 236.,  13.,
       324., 244.,  12., 137.,  28.,  78., 300.,  94., 222.,  93., 246.,
        51.,  36., 284.,   2.,  19., 117.,  19., 316., 335., 137., 324.,
        15., 173.,   5.,  14.,  95.,  52., 215.,  20., 310., 246.,  37.,
       109., 317.,  13., 252., 229., 103.,  90.,  87., 375., 137., 189.,
       137., 252., 335., 133., 137.,  92.,  52.,  80., 117.,  28., 241.,
       137.,  19., 127., 137., 107.,   6.,  92., 109.,  15., 180., 140.,
       173., 317., 153., 119., 137., 108., 252.,  52., 152.,  19.,  95.,
       107., 199., 339.,  50., 129., 137.,  23., 272., 137., 138., 226.,
        28., 229., 252., 122.,  44., 181., 310., 431., 222.,  34.,  49.,
       137.,  76., 115.,  42., 129., 167., 218., 181., 317., 300., 172.,
         5.,   3., 129.,   3.,  80., 181., 130.,  17., 262., 172., 141.,
        15., 316., 133., 324.,  17., 132., 108.,  69., 114.,  92.,  74.,
       252., 199., 263.,  97., 221., 215., 167., 257., 138., 137., 137.,
       252., 133.,  44.,  39., 126., 138., 113., 181., 317., 300., 133.,
       113., 119.,  17., 304.,  20., 300., 121.,  49., 138., 252., 197.,
       137., 252., 241., 130., 274., 213.,  97., 278., 132., 189., 106.,
       117.,  27.,  92., 137., 137.,  40., 182., 250.,  49., 241., 252.,
       143.,  20.,  26., 158.,  92., 431., 317., 131., 158.,  19., 246.,
        27.,  97., 140.,  89.,   5., 315., 117.,  17., 103., 143., 241.,
       222., 165., 267.,  34., 375.,  30.,  19., 127.,  29., 228.,  27.,
       222., 315.,  28., 176.,  94., 219., 125., 127., 137., 324.,  17.,
       271.,  69., 199., 267.,  40., 271.,  92.,  20., 151., 222., 132.,
       252., 126., 137.,  88.,  92., 252., 241., 181., 122.,  49., 133.,
        39., 247.,   8.,  95., 252., 214., 217., 425., 246., 112., 137.,
       167.,  75., 271., 278., 213.,  49., 244., 150.,   5.,  45.,  34.,
        19., 193.,  45., 134., 109., 103., 425., 271.,  92.,  66., 165.,
        27., 103., 134., 233., 111.,  19., 315., 271., 125., 425.,  17.,
        17., 335., 284., 111.,  15.,  19.,  92., 104., 271., 213., 257.,
        37., 137., 213., 137.,  19.,  17.,  92., 100., 137., 102., 214.,
       241.,  97.,  15.,  15.,  92.,  28., 226., 104., 100., 315., 271.,
       216.,  19.,  39., 115., 117.,  15.,  46., 111., 310., 335., 121.,
        26., 125., 284., 138., 158.,  45.,   5., 271., 137., 132., 111.,
       271.,  34.,  30., 229.,  14.,  68.,  15., 244.,  85.,  75., 199.,
       222., 108., 132., 272., 271., 112., 105.,  45.,  92., 263.,  94.,
       137., 137.,  19.,  29.,  19.,  46.,  92., 132.,  92., 172., 132.,
       398., 125., 150., 278., 112., 107., 193., 278.,  30., 108., 398.,
       239., 126.,  40.,  90., 221., 106., 119.,  42., 278., 335., 282.,
        91., 152., 158., 125., 102., 158.,  85., 137., 111., 193., 221.,
       107., 108.,  80., 107., 278.,  74., 151., 316., 315., 137., 277.,
        91.,  38., 221.,   2.,   5., 213., 324.,  92., 106.,  34.,  17.,
       248., 135., 402., 278.,  75., 126., 272., 150., 137.,  37.,  22.,
       267.,  83., 229., 324., 148.,  20., 246., 137.,  91.,  30., 173.,
       316.,  30., 134., 117., 316., 193., 214., 214., 425.,  89.,   5.,
       158., 181., 199.,  46., 221.,  27., 137.,  20.,  88.,  30., 193.,
       151., 151.,   5.,  17.,  33., 278.,  95.,  37.,  92.,  18.,  33.,
        33., 278.,  15., 152., 244., 335., 158.,  95.,  38.,  92., 103.,
       214.,  33.,  24., 165.,  22., 222., 165.,  30., 109., 187., 257.,
       342.,  30.,  92.,  33.,  37.,  89., 108.,  30., 125.,  86., 309.,
       173., 300., 284., 278., 173., 278.,  17.,  30.,  19.,  33.,  98.,
        19.,   2.,  93.,  19., 278., 274., 151.,  98.,  68.,  30., 124.,
        87.,  92., 188.,  17., 205., 117.,  23., 300.,  92.,  70., 103.,
       222., 111., 425., 278., 205., 158., 127.,  24.,  94.,  42.,  24.,
        51.,  41., 102., 267., 137., 139.,  87., 214., 135., 335., 137.,
        14.,   8., 316., 205.,  86.,  22.,  46.,  92., 109., 217., 151.,
        69.,   7., 135.,  92., 137.,  79., 317., 151., 278., 339., 335.,
       213.,  17.,  79.,  90.,  60., 257., 278., 119., 108.,  92.,  22.,
       126., 278.,  27.,  71.,  94.,  79., 189., 151., 402.,  98.,  95.,
        91., 278., 105., 189., 135.,   7., 267.,  15.,  33.,  28., 158.,
        92., 173., 278., 116.,  91.,  24., 222.,  15., 135.,  15.,   7.,
        95., 137., 126.,   7.,  86., 127.,  30., 335., 248.,  19., 425.,
       134., 213.,  43.,  78.,  30., 304., 137., 137., 132., 213., 241.])

## submission 파일 생성
---

In [18]:
# submission.csv 를 불러오세요.
# submission df 의 count 피쳐에 예측한 결과를 덧입히세요.
# submission df 를 to_csv() 를 이용해 csv 을 생성하세요. *index=False) 

submission = pd.read_csv('data/submission.csv')
submission['count'] = predict
submission.to_csv('sub.csv',index=False)

## 정답 (`숨겨진 셀 n개` 를 누르세요.)
---
질문사항을 얼마든지 [게시글](https://dacon.io/competitions/open/235698/talkboard/403540?page=1&dtype=recent)에 남겨주세요 😉 <br>
궁금한 것, 이해가 안 되는 것, 원리, 확장개념, 참고 등등 모든 범위에서 얼마든지 질문을 달아주세요 🙋

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

In [ ]:
train.head()

   id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0   3    20                  16.3  ...           76.0            33.0   49.0
1   6    13                  20.1  ...           73.0            40.0  159.0
2   7     6                  13.9  ...           32.0            19.0   26.0
3   8    23                   8.1  ...           75.0            64.0   57.0
4   9    18                  29.5  ...           27.0            11.0  431.0

[5 rows x 11 columns]

In [ ]:
test.head()

   id  hour  ...  hour_bef_pm10  hour_bef_pm2.5
0   0     7  ...           44.0            27.0
1   1    17  ...           49.0            36.0
2   2    13  ...           36.0            28.0
3   4     6  ...           52.0            38.0
4   5    22  ...           18.0            15.0

[5 rows x 10 columns]

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
train.info()

In [ ]:
test.info()

In [ ]:
train = train.dropna()
test = test.fillna(0)

print(train.isnull().sum())

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

In [ ]:
pred = model.predict(test)

In [ ]:
submission = pd.read_csv('data/submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)