<a href="https://colab.research.google.com/github/skdding3/Code-Practice/blob/main/Review/Lv3_EDA_3_7_%EC%88%98%EC%B9%98%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%8A%B9%EC%84%B1_%EB%B3%B4%EA%B8%B0_(describe).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colab Ïóê Î∂àÎü¨ÏòµÎãàÎã§.
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§ÌñâÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-11-25 14:53:50--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2021-11-25 14:53:50--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 74.125.199.101, 74.125.199.138, 74.125.199.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.199.101|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/3u644901km6dm5lucjnm1p1034h8q4hj/1637852025000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-11-25 14:53:51--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/3u644901km6dm5lucjnm1p1034h8q4hj/1637852025000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 74.125.142.132, 2607:f8b0:400e:c08::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|74.125.142.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB‚Äô

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.001s

2021-11-25 14:53:51 (89.9 MB/s) - ‚Äò3i4n1QB‚Äô saved [137694/137694]

## ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
---

In [2]:
import pandas as pd

## Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
---

In [3]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

## üëã Ïã§Ïäµ
---

In [4]:
# describe() Îß§ÏÑúÎìúÎ°ú Îç∞Ïù¥ÌÑ∞ ÏöîÏïΩÏùÑ Ï∂úÎ†•ÌïòÏÑ∏Ïöî
train.describe()

             index      quality  ...    sulphates      alcohol
count  5497.000000  5497.000000  ...  5497.000000  5497.000000
mean   2748.000000     5.818992  ...     0.530524    10.504918
std    1586.991546     0.870311  ...     0.149396     1.194524
min       0.000000     3.000000  ...     0.220000     8.000000
25%    1374.000000     5.000000  ...     0.430000     9.500000
50%    2748.000000     6.000000  ...     0.510000    10.300000
75%    4122.000000     6.000000  ...     0.600000    11.300000
max    5496.000000     9.000000  ...     2.000000    14.900000

[8 rows x 13 columns]

In [5]:
test.describe()

             index  fixed acidity  ...    sulphates      alcohol
count  1000.000000    1000.000000  ...  1000.000000  1000.000000
mean    499.500000       7.243850  ...     0.535360    10.419693
std     288.819436       1.344372  ...     0.145525     1.180694
min       0.000000       4.200000  ...     0.230000     8.400000
25%     249.750000       6.400000  ...     0.437500     9.500000
50%     499.500000       7.000000  ...     0.510000    10.200000
75%     749.250000       7.700000  ...     0.620000    11.200000
max     999.000000      15.600000  ...     1.310000    14.000000

[8 rows x 12 columns]

## Ï†ïÎãµ
---

In [ ]:
train.describe()

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)